/* || General Styles */

:root {
  font-size: 100%;
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../images/background-sm.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a,
button,
input {
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
  background-color: transparent;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


/* || App */

.app__wrapper {
  width: 100%;
  max-width: 992px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  min-width: 300px;
  width: 80%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
}

.app__row {
  margin-bottom: 2rem;
}

.app__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}


/* || Header */

.header__title {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}


/* || List */
.list {
}

.list__item {
  margin-bottom: 1rem;
}

.list__checkbox:checked + label {
  text-decoration: line-through;
  opacity: 0.5;
}

/* || Form */

.form {
}

.form__input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form__label {
  display: block;
  margin-bottom: 2px;
}

.form__text,
.form__submit,
.button {
  -webkit-appearance: none;
  padding: 0.5rem;
  border: 1px #BBBBBB solid;
  background-color: #FFFFFF;
  font-family: inherit;
  outline: none;
}

.form__text {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;  
}

.form__text:focus {
  border-color: #2a642a;
}


.form__submit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;  
}

.form__submit,
.button {
  cursor: pointer;
  background-color: #EEEEEE;
}
.form__submit:hover,
.button:hover {
  background-color: #CCCCCC;
}

/* || Button */

.button {
  border-radius: 3px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}


/* || Footer */

.footer {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem;
}


/* || Media Queries */

@media screen and (min-width: 568px) {
  body {
    background-image: url('../images/background-md.jpg'); 
  }

  .app__wrapper,
  .footer {
    width: 60%;
    padding: 2rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('../images/background-lg.jpg');
  }

}
