/* || General Styles */

:root {
  font-size: 100%;
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  background: url("../media/background.jpg") fixed no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin: 0 0.67rem;
}

ul {
  list-style: none;
}

a,
button,
input {
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
  background-color: transparent;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


/* || App */


.app {
  height: auto;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.app__row {
  margin-bottom: 2rem;
}

.app__title {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.app__list {
  margin-bottom: 1rem;
}

.app__list-item {
  margin: 1rem;
}

.app__checkbox:checked + label {
  text-decoration: line-through;
  opacity: 0.5;
}


.app__form {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.app__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.app__submit,
.app__button,
.app__form-text {
  -webkit-appearance: none;
  padding: 0.5rem;
  border: 1px #BBBBBB solid;
  border-radius: 3px;
  background-color: #FFFFFF;
  font-family: inherit;
  outline: none;
}

.app__submit,
.app__button {
  cursor: pointer;
  background-color: #EEEEEE;
}
.app__submit:hover,
.app__button:hover {
  background-color: #CCCCCC;
}


/* || Footer */

.footer {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem;
}


/* || Media Queries */

@media screen and (min-width: 568px) {
  .app,
  .footer {
    width: 60%;
    padding: 2rem;
  }
}